/* GLOBAL SETTINGS*/
body {
    width: 100%;
    height: 100%;
    font-family: "acumin-pro-condensed", sans-serif;
    color: #fff;
    background-color: #BA6F0B;
    margin-top: 120px;
}

.logo-color{color: #86ffc2;text-shadow: 2px 2px 2px #000000;}
.carousel-item img{
    color: black;
}
.vertical-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* NAV SETTINGS */

#logoMarca{
    width: 5em;
}
#toogler-svg{
    border-radius: 0px;
    width: 2.5em;
    border: 2px solid #fff;
    border-radius: 5px;
}
#toogler-svg:hover{cursor: pointer;}
.navbar-main{
    background-color: #000;
    align-items: center;
}
.navbar-main a{
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
.navbar-main a:hover{
    color: #86ffc2;
    text-align: center;
    transition: 0.5s;
}
/*LOGIN NAV*/
.login-nav{
    background-color: #fff;
    display: inline-flex;
    float: right;
}
/* SLIDES */
.staticHome img{
    width: 60em;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 1em;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1em;
    border-radius: 5px;
}

/* CUSTOM TEXTS */
.text-margin{
    margin: 0 2em 1em 2em;
}

/* FOOTER SETTINGS */
footer{
    background-color: #000000;
    padding: 1em;
    color: #fff;
}
/*LOJA*/
.price-option__purchase {
  
  display: block;  
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 0, 0);
    background-color: #fff;
    border-radius: 5px;
  
}
.price-option__purchase:hover{
    text-decoration: none;
}
figure{
    margin: 0.5em;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}




/* RESPONSIVE */

@media (max-width: 576px) { 
    h1{
        font-size: 1.6em;
    }
}


@media (min-width: 768px) { 
    h1{
        font-size: 5em;
        padding-top: 0.5em
    }

}


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }